@mixin Display($justifyContent, $alignItems: '', $flexDirection: '') {
    display: flex;
    justify-content: $justifyContent;

    @if $alignItems != '' {
        align-items: $alignItems;
    }

    @if $flexDirection != '' {
        flex-direction: $flexDirection;
    }
}